@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", arial;
}

/* header-container section */

.container {
  background-image: url("./img/pattern.png");
  background-repeat: repeat-x;
  background-color: lightblue;
  width: 100%;
  height: 180px;
}

.container_logo {
  display: block;
  width: 300px;
  height: auto;
  position: relative;
  top: 100px;
  margin-left: 10px;
}

/* header section */
#title {
  font-size: 40px;
  padding: 8px;
}

.header_link {
  color: lightblue;
  font-weight: bold;
  text-decoration: none;
}
.author_date {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  color: lightgrey;
  margin-left: 10px;

  /* title section */
}

.tim_image {
  padding: 10px;
}

.top_image1 {
  width: 600px;
  height: 400px;
}

.top_image2 {
  width: 600px;
  height: 400px;
}

.first_photo_txt {
  font-size: 12px;
}
.second_photo_txt {
  font-size: 12px;
}

/* main text body */
.main_text {
  padding: 10px;
}

.highlight {
  background-color: yellow;
}

/* unordered list */
.list {
  padding: 20px;
}

/* tables */
.style_table {
  border: 1px solid black;
  min-width: 150px;
  padding: 10px;
}
.table1 {
  color: white;
  background-color: rgb(27, 124, 185);
  text-align: left;
}

.table2 {
  background-color: lightskyblue;
}

.table3 {
  background-color: white;
}
.table4 {
  background-color: lightskyblue;
}

/* lower text section */
.lower_text {
  padding: 10px;
}

/* footer section */

.footer_text {
  padding: 10px;
  color: grey;
}

.footer_text2 {
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.footer_text3 {
  color: white;
  position: bottom;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.footer_img1 {
  position: bottom;
  width: 50%;
  height: auto;
  float: bottom;
}

.footer_img2 {
  width: 50%;
  height: auto;
  float: bottom;
}
